body{
    background-color: #212121;
    color: white;
}/*

#root{
background-color: #212121;
}
.Cardo{
    background-color: #333333!important;
    Color: white!important;
    border: 1px solid #595959!important;
}
.CardoMedia{
    height:140;
}
.ingredientsBox{
    color: #c3c3c3!important;
}*/